---
BasedOnStyle: Mozilla
ColumnLimit: 100
TabWidth: 2
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: true
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: true
