/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

Gemfile.lock

*.so
*.o
compile_flags.txt
compile_commands.json
ext/fast_statistics/Makefile
ext/fast_statistics/mkmf.log
.clang-format
.cache

squiggles.txt
README.md.html
